.seacrhListContainer {
  position: fixed;
  top: 8%;
  right: 9%;
  width: 20%;
  max-height: 30%;
  overflow: scroll;
  background-color: rgba(1, 1, 1, 0.4);
  z-index: 10;
  border-radius: 12px;
}
.seacrhListContainer ul {
  padding: 10px;
}
.seacrhListContainer ul li {
  margin-top: 1rem;
  color: white;
  border-bottom: 1px solid white;
}
.seacrhListContainer::-webkit-scrollbar {
  display: none;
}
.seacrhListContainer button {
  position: absolute;
  top: 1%;
  right: 1%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
